* {
    margin: 0; padding: 0;
}
.effect {
    position: absolute;
    display: none;
}
.gobtn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 555px;
    left: 170px;

}
.modal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
}
.content {
  overflow: hidden;
  position: relative;
  width: 1400px;
  height: 800px;
  padding: 20px;
}

.content-wrapper {
  color: white;
  background-color: rgba(255,255,255,0.3);
  padding: 10px 20px 26px 20px;

  margin: 0 auto;
}

.parallax-layer {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
